<div class="sc-no-default-cmd" xmlns="http://www.w3.org/1999/html">
    <input class="choose-pis-square sc-no-default-cmd" type="button" id="pis-square-param" readonly="readonly" data-title="Выберите населенный пункт"
           data-content="
            <div class='input-group'>
                <input id='pis-square-idtf-input' class='form-control pull-left' value='' autofocus />
                <div class='input-group-btn'>
                    </button><button type='button' id='pis-square-idtf-cancel' class='btn btn-danger'>
                        <span class='glyphicon glyphicon-remove-sign'/>
                    </button>
                </div>
            </div>"
           data-html="true" data-placement="bottom" data-toggle="popover" title="" value="Выберите населенный пункт"/>
    <input class="choose-pis-square" id="pis-square-manual-param" placeholder="['name'='Советский район']['addr:city'='Минск']['boundary'='administrative']" value=""/>
</div>
<div>
    <button id="start-pis-square" type="button" class="pis-square-button btn btn-danger" disabled="disabled">
        Посчитать площадь
    </button>
    <div id="output-pis-square">
    </div>

    <button id="add-pis-square" type="button" class="pis-square-button btn btn-success" disabled="disabled">
        Добавить площадь к выбранному населенному пункту
    </button>
</div>


